@import url(https://fonts.bunny.net/css?family=inter:100,200,300,400,500,600,700,800,900);

@import 'tailwindcss';

@font-face {
	font-family: 'Spirit';
	font-style: normal;
	font-weight: 100;
	font-stretch: 100%;
	src: url('/fonts/SpiritRegular.ttf') format('truetype');
}

@theme {
	--color-brand-red: #ff0d2eff;
	--color-brand-orange: #ff690ff;
	--color-brand-yellow: #f1bf00ff;
	--color-brand-green: #00ae54ff;
	--color-brand-blue: #2b39feff;
	--color-brand-violet: #b300ffff;

	--color-brand-red-dark: #db003eff;
	--color-brand-orange-dark: #e54a00ff;
	--color-brand-yellow-dark: #d19100ff;
	--color-brand-green-dark: #008d3aff;
	--color-brand-blue-dark: #012ae0ff;
	--color-brand-violet-dark: #8400ffff;

	--color-project-snapper-1: #1a59edff;
	--color-project-snapper-2: #7e82f5ff;

	--color-logo-deep-purple: #8400ff;
	--color-logo-purple: #b300ff;
	--color-logo-blue: #2b39fe;

	--color-brand-background: #0b0d0e;
	--color-brand-background-secondary: #161b1d;
	--color-brand-border: #21292c;
	--color-brand-disabled: #374347;
	--color-brand-text: #f6f5fa;
	--color-brand-text-strong: #ffffff;

	--font-stack:
		ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
		'Noto Color Emoji';
	--font-spirit: 'Spirit', var(--font-stack);
	--font-sans: 'Inter', var(--font-stack);
}

@layer utilities {
	.button {
		@apply bg-brand-background-secondary shadow-brand-background-secondary rounded-xl px-4 py-3 text-lg font-extrabold shadow-sm transition active:scale-95 active:shadow-none;
	}

	button {
		@apply bg-brand-background-secondary flex cursor-pointer flex-col items-center justify-center gap-2 rounded-lg border p-2 shadow-2xl transition hover:brightness-125 active:scale-95;
	}

	.tooltip-spirit {
		@apply !bg-brand-background-secondary flex flex-col items-center !rounded-lg border text-sm shadow-2xl;
		.tip:before {
			@apply !border-b-brand-border mx-[34.5%] mt-[-12px];
		}
	}

	.pixelated {
		image-rendering: pixelated;
		image-rendering: -moz-crisp-edges;
		image-rendering: crisp-edges;
	}

	.bgimg {
		mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
		-webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
	}

	.cardbg {
		mask-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 75%);
		-webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 75%);
	}

	a {
		@apply underline;
	}

	a,
	img {
		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-drag: none;
		-webkit-user-drag: none;
	}

	.md h1 {
		@apply mb-4 border-b text-3xl font-bold;
	}
	.md h2 {
		@apply my-2 border-b text-2xl font-bold;
	}
	.md h3 {
		@apply mb-4 text-xl font-bold;
	}
	.md img {
		@apply m-0.5 inline-block w-fit max-w-full;
	}
	.md p {
		@apply my-4;
	}
	.md strong {
		@apply font-bold;
	}
	.md li {
		@apply mb-4 ml-8 list-disc;
	}

	::-webkit-scrollbar {
		width: 1rem;
	}

	* {
		@apply border-brand-border select-none;
		scrollbar-color: #8400ff #161b1d;
	}

	h1:not(.md h1) {
		@apply text-brand-text-strong text-4xl font-black tracking-tighter sm:text-6xl;
	}

	h2:not(.md h2) {
		@apply text-brand-text-strong text-4xl font-black tracking-tight;
	}

	.spirit-heavy {
		@apply text-brand-text-strong font-spirit !text-8xl !font-normal !tracking-normal;
	}
}

html {
	@apply bg-brand-background text-brand-text h-full;
}

@tailwind utilities;
